.photo-box {
  background-size: cover;
  margin-bottom: 5px;
}

.photo-box img {
  visibility: hidden;
}

.hoverWrapper {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(121, 121, 121, 0.5));
}

.photo-box h4 {
  color: white;
  position: relative;
  left: 10px;
  bottom: 10px;
}
